h1 {
  color: cadetblue;
  background-color: whitesmoke;
}
h2 {
  color: chocolate;
}
button {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: medium;
  background-color: lightskyblue;
  border-color: lightskyblue;
}
p {
  color: darkblue;
}
li {
  color: darkcyan;
}

a {
  color: darkviolet;
}
