h1 {
  color: cadetblue;
  background-color: whitesmoke;
}
h2 {
  color: chocolate;
}
button {
  font-family: inherit;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  display: inline-block;
  box-sizing: content-box;
  font-weight: bold;
  color: #fff;
  background-color: #42b72a;
}
p {
  color: darkblue;
}
li {
  color: darkcyan;
}

a {
  color: darkviolet;
}
