.card {
	color: white;
	font-family: inherit;
	font-weight: bold;
	position: relative;
	box-sizing: border-box;
	border-radius: 8px;
}

#total {
	background-color: #142a3c;
}

#sale {
	background-color: #215475;
}
#rental {
	background-color: #f66b0c;
}

button {
	font-family: inherit;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	line-height: 48px;
	padding: 0 16px;
	display: inline-block;
	box-sizing: content-box;
	font-weight: bold;
	color: #fff;
	background-color: #42b72a;
	position: relative;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	text-decoration: none;
}
