.house {
	color: white;
	background-color: black;
	position: relative;
	box-sizing: border-box;
}

.cart {
	color: white;
	background-color: #42b72a;
	position: relative;
	box-sizing: border-box;
}
.user {
	color: white;
	background-color: orangered;
	position: relative;
	box-sizing: border-box;
}

div {
	background-color: lightsalmon;
}
button {
	font-family: inherit;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	line-height: 48px;
	padding: 0 16px;
	display: inline-block;
	box-sizing: content-box;
	font-weight: bold;
	color: #fff;
	background-color: #42b72a;
	position: relative;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	text-decoration: none;
}
p {
	color: darkblue;
}
li {
	color: darkcyan;
	font-family: inherit;
}

a {
	color: darkviolet;
}
